.DS_Store
node_modules
dist
frontend/build

# local env files
.env.local
.env.*.local

# local settings
docker-compose.override.yml

# Log files
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

__pycache__/
env
venv/

backend/emails/
backend/static/

*.retry
.venv

lambda_dependencies/
dev_pah_fm_migration.zip
output.json
.eslintcache
