version: "3"
services:

  frontend:
    image: codeforpoznan/pah-fm-frontend
    # build: frontend
    command: bash docker-entrypoint.sh
    # command: tail -f /dev/null
    ports:
      - 4200:4200
    volumes:
      - ./frontend:/pah-fm/frontend

  backend:
    image: codeforpoznan/pah-fm-backend
    # build: backend
    command: bash docker-entrypoint.sh
    # command: tail -f /dev/null
    environment:
      PAH-FM_DB_HOST: db
      PAH-FM_DB_PASS: pah-fm
      SECRET_KEY: pah-fm
      DEBUG: 1
    ports:
      - "8000:8000"
    links:
      - db:db
    volumes:
      - ./backend:/pah-fm/backend
  db:
    image: postgres:9.5
    environment:
      POSTGRES_DB: pah-fm
      POSTGRES_USER: pah-fm
      POSTGRES_PASSWORD: pah-fm
