version: "3.5"
services:

  frontend:
    #image: codeforpoznan/pah-fm-frontend
    container_name: pah-fm-frontend
    build: frontend
    ports:
      - 8080:8080
    volumes:
      - ./frontend:/pah-fm/frontend
    environment:
      VUE_APP_API_URL: http://localhost:8000/api/

  backend:
    #image: codeforpoznan/pah-fm-backend
    container_name: pah-fm-backend
    build: backend
    stdin_open: true
    tty: true
    links:
      - database:database
    ports:
      - 8000:8000
      - 4444:4444
    volumes:
      - ./backend:/pah-fm/backend
    environment:
      BASE_URL: localhost:8000
      PAH_FM_DB_HOST: database
      SECRET_KEY: pah-fm
      DEBUG: 1
      DJANGO_LOG_LEVEL: DEBUG

  database:
    container_name: pah-fm-database
    image: postgres:14.4
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: pah-fm
      POSTGRES_USER: pah-fm
      POSTGRES_PASSWORD: pah-fm
