version: "3"
services:

  frontend:
    image: codeforpoznan/pah-fm-frontend
    #environment:
    #  NODE_ENV: production
    command: bash docker-entrypoint.sh
    # command: tail -f /dev/null
    volumes:
      - ./frontend:/pah-fm/frontend
      - asset-volume:/pah-fm/frontend/dist
    depends_on:
      - webserver

  backend:
    image: codeforpoznan/pah-fm-backend
    # build: backend
    command: bash docker-entrypoint.sh
    # command: tail -f /dev/null
    stdin_open: true
    tty: true
    environment:
      BASE_URL: http://localhost:8080
      PAH_FM_DB_HOST: db
      SECRET_KEY: pah-fm
      DEBUG: 1
      DJANGO_LOG_LEVEL: 'DEBUG'
    links:
      - db:db
    volumes:
      - ./backend:/pah-fm/backend

  db:
    image: postgres:9.5
    ports:
      - 6866:5432
    environment:
      POSTGRES_DB: pah-fm
      POSTGRES_USER: pah-fm
      POSTGRES_PASSWORD: pah-fm

  webserver:
    image: nginx
    volumes:
      - ./pah-fm.conf:/etc/nginx/nginx.conf
      - asset-volume:/var/www/:ro
    ports:
      - 8080:80
    depends_on:
      - backend

volumes:
  asset-volume:
