asn1crypto==0.24.0
backports.csv==1.0.7
certifi==2019.6.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.1.4
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.1.2
django-cors-headers==2.4.0
django-countries==5.3.3
django-filter==2.0.0
django-import-export==1.2.0
djangorestframework==3.8.2
djangorestframework-camel-case==1.0b1
djangorestframework-jwt==1.11.0
entrypoints==0.3
et-xmlfile==1.0.1
factory-boy==2.11.1
Faker==2.0.1
flake8==3.7.4
freezegun==0.3.11
idna==2.6
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
model-mommy==1.6.0
odfpy==1.4.0
openpyxl==2.6.3
psycopg2==2.7.5
pycodestyle==2.5.0
pycrypto==2.6.1
pyflakes==2.1.1
Pygments==2.3.1
pygobject==3.26.1
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.2
pyxdg==0.25
PyYAML==5.1.2
requests==2.22.0
SecretStorage==2.3.1
six==1.11.0
tablib==0.13.0
text-unidecode==1.2
tqdm==4.28.1
uritemplate==3.0.0
urllib3==1.25.3
xlrd==1.2.0
xlwt==1.3.0
