
$blue: #71caf0;
$grey: #dadada;

$white: white;
$green: green;
$red: red;

$pah-color-1: #0072bc;
$pah-color-2: #1980c3;
$pah-color-3: #338ec9;
$pah-color-4: #ec1818;

$break-mobile: 768px;
$break-tablet: 992px;
$break-desktop: 1200px;

$header-height: 250px;
$header-height-mobile: 120px;

$footer-height: 65px;
$footer-height-mobile: 51px;
