
$blue: #71caf0;
$grey: #dadada;

$white: white;
$green: green;
$red: red;

$break-mobile: 768px;
$break-tablet: 992px;
$break-desktop: 1200px;

$header-height: 250px;
$header-height-mobile: 120px;

$footer-height: 65px;
$footer-height-mobile: 51px;
