Hello {{ passenger.first_name }}!
Thanks for driving with me on {{ drive.date }} from {{ drive.start_location }} to {{ drive.end_location }}.
Please confirm your participation and select your project by clicking on the link below.

{{ verification_url }}

Sincerely, {{ driver.first_name }} {{ driver.last_name }}

---------------------------------------------------------

привіт {{ passenger.first_name }}!
Дякую за кермо зі мною у  вівтор, з {{ drive.start_location }} до {{ drive.end_location }}.
Будь ласка, підтвердіть свою участь і вибрати проект, натиснувши на посилання нижче.

{{ verification_url }}

щиро, {{ driver.first_name }} {{ driver.last_name }}

---------------------------------------------------------

Witaj {{ passenger.first_name }}!
Dziękuję za przejazd ze mną {{ drive.date }} z {{ drive.start_location }} do {{ drive.end_location }}.
Potwierdź swój udział i wybierz project klikając na link poniżej.

{{ verification_url }}

Pozdrawiam, {{ driver.first_name }} {{ driver.last_name }}

