{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["i18next-extract",
      {
        "locales": ["en", "uk", "so", "pl"],
        "outputPath": "src/translations/{{locale}}/{{ns}}.json"
      }
    ]
  ]
}
