/* * * branding colors taken from https://www.pah.org.pl/ * * *\
 * We intentionally do not overwrite the variables, because
 * there's no way to do that without breaking other parts of
 * the website (e.g. the nav bar vs breadcrumbs).
 * That's because the theme is using `--header-*` variables
 * in places outside the header, thus we need to override
 * the actual CSS properties directly. We also need to do
 * it with !important, because that's the only way to override
 * it without specifying the whole selector.
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

:root {
  --header-color: #000000 !important;
  --header-bg: #ffffff !important;
  --header-link-color: #0072bc !important;
  --breadcrumbs-bg: #0072bc !important;
  --primary: #0072bc !important;
  --primary-fg: #ffffff !important;
}

.selector-chosen h2,
a.section:link, a.section:visited,
.module h2, .module caption, .inline-group h2,
#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
  color: var(--primary-fg) !important;
}

#changelist-filter a {
  color: var(--body-fg) !important;
}

#changelist-filter ul {
  padding: 0 0 0 15px !important;
}

#changelist-filter details {
  padding-bottom: 2rem !important;
}

#changelist-filter details:last-child {
  padding-bottom: 0 !important;
}

#changelist-filter li.selected {
  /* border-left-color: #dbdbdb !important; */
  /* background-color: #dbdbdb !important; */

  border-left-color: var(--body-fg) !important;
  color: var(--body-fg) !important;
}

#changelist-filter li.selected:hover {
  border-left-color: var(--body-fg) !important;
}

#changelist-filter li:hover {
  background: var(--hairline-color) !important;
  border-left: 5px solid var(--hairline-color) !important;
  background: var(--close-button-hover-bg) !important;
  /* border-left: 5px solid var(--close-button-hover-bg) !important; */
  /* color: var(--body-fg) !important; */
  border-left-color: var(--close-button-hover-bg) !important;
  margin-left: -15px !important;
  padding-left: 10px !important;
}
