[uwsgi]
uid = www-data
chdir = /var/www/pahfm/backend
home = /var/www/pahfm/backend/.venv
module = pah_fm.wsgi

env = DJANGO_SETTINGS_MODULE=pah_fm.settings

env = BASE_URL=52.232.62.212
env = SECRET_KEY={{ django_secret_key }}
env = PAH_FM_DB_USER={{ db_user }}
env = PAH_FM_DB_NAME={{ db_name }}
env = PAH_FM_DB_PASS={{ db_password }}

socket = /run/uwsgi/pahfm.sock
chown-socket = www-data:www-data
chmod-socket = 660
vacuum = true
enable-threads = true
